%p.in-gold-500.font-18.mb-25= t '.remove_account'
.general-settings-btn
  = button_to t('.please_remove_my_account'),
              user_registration_path, method: :delete,
              data: { confirm: t('.are_you_sure') }, disabled: true,
              id: 'remove-account-btn', class: 'btn btn-default disabled mb-20'
.checkbox.general-settings-checkbox
  %label.checkbox-label
    %input#remove-account-cb.checkbox-input{type: "checkbox", hidden: "true"}
    %span.checkbox-icon
      %i.fa.fa-check
    %span.checkbox-text= t '.i_understand_data_will_be_lost'
